@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background: #1c1c1c;
    color: white;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    padding: 0.5rem;
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

button.btn {
    outline: none;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 100rem;
    font-size: medium;
    font-weight: 500;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.btn-primary {
    background-color: #a444ff;
    color: white;
    cursor: pointer;
    border: 1px solid #8437cc !important;
}

.btn-secondary {
    background: #037a8f;
    color: white;
}

.btn-danger {
    background: #ff3700;
    color: white;
}

.d-block {
    display: block;
}

.mx-auto {
    margin-inline: auto;
}

.d-flex {
    display: flex;
}

.d-flex > * {
    flex: 1;
}

.projects-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
}

.projects-wrapper > .project-wrapper {
    display: flex;
    /*width: 100%;*/
    margin-block: 1rem;
    justify-content: space-around;
    border: 1px solid #8437cc;
    padding: 1rem;
    background: #8437cc;
    border-radius: 1rem;
    color: white;
}

.container {
    padding-inline: 1rem;
}
